body {
  background-color: #eaf6f6;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

/* ##### Class ##### */

.propic {
  height: 150px;
  width: 150px;
}
